@model IList<Biblioteca.Models.Livro>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Genero</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livro in Model.OrderBy(t => t.Nome))
        {
            <tr>
                <td>@livro.Id</td>
                <td>
                    @Html.RouteLink(livro.Nome, "VisualizaLivro", new { id = livro.Id })
                </td>
                <td id="preco@(livro.Preco)">
                    @livro.Preco
                </td>
                <td id="quantidade@(livro.Id)">
                    @livro.Quantidade
                </td>
                <td id="genero@(livro.Genero.Descricao)">
                    @livro.Genero.Descricao
                </td>
                <td>
                    <a href="#" onclick="decrementa(@livro.Id)">Decrementar</a>
                </td>
                <td>
                    <a href="#" onclick="aumenta(@livro.Id)">Aumentar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="nav nav-pills pull-left">
    <li>@Html.ActionLink("Novo", "Form", "Livro")</li>
</ul>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    function decrementa(livroId) {
        var url = "@Url.Action("DecrementaQtd", "Livro")";
        $.post(url, { id: livroId }, atualiza);
    }

    function aumenta(livroId) {
        var url = "@Url.Action("AumentaQtd", "Livro")";
        $.post(url, { id: livroId }, atualiza);
    }

    function atualiza(resposta) {
        $("#quantidade" + resposta.Id).html(resposta.Quantidade);
    }
</script>